{% extends 'auth/base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}


    <section class="container max-w-screen-md mx-auto">
        <div class="grid grid-cols-2 gap-0">
            <div class="min-h-screen bg-[#1E2A5E] px-5 py-10 flex items-center w-full col-span-2 md:col-span-1">
                <div class="w-full">
                    <h1 class="font-bold text-2xl text-white mb-4">Exploring Starts Here</h1>

                    <form class="space-y-4 md:space-y-6 group" method="POST" novalidate>
                        <div class="grid grid-cols-2 gap-2">
                            <div>
                                <label for="firstname" class="block mb-2 text-sm font-normal text-white">First Name</label>
                                <input type="firstname" name="firstname" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="John" required="">
                            </div>
                            <div>
                                <label for="lastname" class="block mb-2 text-sm font-normal text-white">Last Name</label>
                                <input type="lastname" name="lastname" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="Doe" required="">
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center gap-2 mb-2">
                                <label for="province" class="block text-sm font-normal text-white">Province</label> 
                                <svg data-tooltip-target="tooltip-default" class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd"/>
                                </svg>
                                <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                    Choose the province where you currently reside.
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            </div>
                            
                            <select id="province" name="province" class="select2 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" required="">
                            <option value="" disabled selected>Select a province</option>
                            {% for city in data %}
                                <option value="{{ city }}">{{ city|title }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-normal text-white">Email</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="name@company.com" required="">
                            <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                Please enter a valid email address
                            </span>
                        </div>
                        <div>
                            <div class="flex items-center gap-2 mb-2">
                                <label for="password" class="block text-sm font-normal text-white">Password</label> 
                                <svg data-tooltip-target="tooltip-default-password" class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd"/>
                                </svg>
                                <div id="tooltip-default-password" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                    Enter a password with at least 8 characters
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            </div>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer" pattern=".{8,}" required="">
                            <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                Please enter a valid password with at least 8 characters
                            </span>
                        </div>

                        <button type="submit" class="w-full bg-[#E1D7B7] hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-[#1E2A5E] hover:bg-[#c6bc98] group-invalid:pointer-events-none group-invalid:opacity-60">Create Account</button>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="container mt-3">
                                {% for category, message in messages %}
                                    {% if category == 'warning' %}
                                    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 px-4 py-2 mb-4" role="alert">
                                        <p>{{ message }}</p>
                                    </div>
                                    {% elif category == 'success' %}
                                    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 px-4 py-2 mb-4" role="alert">
                                        <p>{{ message }}</p>
                                    </div>
                                    {% elif category == 'danger' %}
                                    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 px-4 py-2 mb-4" role="alert">
                                        <p>{{ message }}</p>
                                    </div>
                                    {% else %}
                                    <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 px-4 py-2 mb-4" role="alert">
                                        <p>{{ message }}</p>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <p class="text-sm font-light text-white dark:text-gray-400">
                            Already have an account? <a href="{{url_for('auth.login')}}" class="font-medium text-primary-600 hover:underline">Login Here</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="min-h-screen bg-[#E1D7B7] px-5 py-10 items-center hidden md:flex">
                <div class="">
                    <a class="flex items-center gap-2 mb-4 cursor-pointer" href="{{url_for('index')}}">
                        <img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Logo" class="w-12">
                        <h1 class="text-xl font-bold">City Explorer</h1>
                    </a>
                    <h3 class="text-lg font-bold mb-4">Ready to start your adventure?</h3>
                    <p class="text-base font-normal">Create an account to unlock personalized city guides, save your favorite spots, and stay updated with real-time weather forecasts. Join us now and make the most of every city you explore!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}