{% extends 'user/base.html' %}

<h1>{% block title %}Welcome{% endblock %}</h1>

{% block content %}
    
<div class="max-w-screen-xl p-6">   
    <div class="grid grid-cols-4 gap-4">
        <div class="max-w-full p-6 flex flex-col gap-6 bg-white rounded-lg shadow max-md:col-span-4 md:col-span-2 lg:col-span-1">
            <div class="flex items-center gap-4">
                <img src="{{url_for('static', filename='assets/visited.svg')}}" alt="Visited" class="h-10 w-10">
                <div>
                    <h5 class="text-xl font-semibold text-gray-900">Visited</h5>
                    <p class="text-gray-500">{{ visited|length }} place(s)</p>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <img src="{{url_for('static', filename='assets/heart.svg')}}" alt="Heart Icon" class="h-10 w-10">
                <div>
                    <h5 class="text-xl font-semibold text-gray-900">Liked</h5>
                    <p class="text-gray-500">{{ likes|length }} place(s)</p>
                </div>
            </div>
            <p class="text-base text-gray-500">Explore more places and uncover the hidden gems of your city with City Explorer!</p>
        </div>

        <div class="max-w-full p-6 bg-white rounded-lg shadow flex flex-col space-y-4 max-md:col-span-4 md:col-span-2 lg:col-span-1">
            <div class="flex gap-4 items-center">
                <img src="{{ url_for('static', filename='assets/schedule.png') }}" alt="Calendar" class="h-10 w-10">
                <h5 class="text-xl font-semibold text-gray-900">Schedule(s)</h5>
            </div>
            {% if schedules %}
                {% for schedule in schedules %}
                    <div>
                        <div>
                            {% if today == schedule.date %}
                                <span class="text-sm font-medium text-green-600">Visit Today</span>
                            {% else %}
                                <span class="text-sm text-gray-500">Visit on {{ schedule.date }}</span>
                            {% endif %}
                            <h6 class="text-lg font-semibold text-gray-800">{{ schedule.place_name }}</h6>
                        </div>
                        {% if schedule.notes %}
                            <p class="text-gray-600 text-base">
                                <span class="text-gray-700 text-base">Note:</span>
                                <span>{{ schedule.notes }}</span>
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="flex items-center justify-center">
                    <img src="{{url_for('static', filename='assets/no-content.svg')}}" alt="No schedule" class="h-48 w-48">
                </div>
            {% endif %}
        </div>

        <div class="max-w-full p-6 bg-white rounded-lg shadow max-md:col-span-4 md:col-span-4 lg:col-span-2">
            <div class="w-full max-w-screen-sm bg-white rounded-xl ring-8 ring-white ring-opacity-40">
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <span class="text-3xl md:text-6xl font-bold">{{places[0].weather.main["temp"]}}°C</span>
                        <span class="font-semibold mt-1 text-gray-500">{{city|title}}, Philippines</span>
                    </div>
                    {% if places[0].weather.weather[0]['icon'] == '01d' %}
                        <img src="{{url_for('static', filename='assets/weather/01d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '01n' %}
                        <img src="{{url_for('static', filename='assets/weather/01n.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '02d'%}
                        <img src="{{url_for('static', filename='assets/weather/02d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '02n'%}
                        <img src="{{url_for('static', filename='assets/weather/02n&04n.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '03d' or places[0].weather.weather[0]['icon'] == '03n'%}
                        <img src="{{url_for('static', filename='assets/weather/03.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '04n'%}
                        <img src="{{url_for('static', filename='assets/weather/02n&04n.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '04d'%}
                        <img src="{{url_for('static', filename='assets/weather/04d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '10d'%}
                        <img src="{{url_for('static', filename='assets/weather/09_10d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '09d' or places[0].weather.weather[0]['icon'] == '09n'%} 
                        <img src="{{url_for('static', filename='assets/weather/09_10d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '10n'%}
                        <img src="{{url_for('static', filename='assets/weather/10n.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '11n'%}
                        <img src="{{url_for('static', filename='assets/weather/11n.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% elif places[0].weather.weather[0]['icon'] == '11d'%}
                        <img src="{{url_for('static', filename='assets/weather/11d.svg')}}" alt="Weather icon" class="h-16 w-16 md:h-24 md:w-24">
                    {% endif %}
                </div>
                <p class="text-gray-500 text-base mt-5">
                   {% if places[0].weather.weather[0]['main'] == 'Rain' %}
                        Don't forget your umbrella! A rainy day adds charm to the city's vibe.
                    {% elif places[0].weather.weather[0]['main'] == 'Clear' %}
                        Perfect day for outdoor adventures! Enjoy the clear skies and sunshine.
                    {% elif places[0].weather.weather[0]['main'] == 'Clouds' %}
                        The clouds may be hanging around, but it's still a great day to explore. Keep your plans!
                    {% elif places[0].weather.weather[0]['main'] == 'Snow' %}
                        Time to bundle up! The snow adds a magical touch to the city. Stay warm and cozy.
                    {% elif places[0].weather.weather[0]['main'] == 'Thunderstorm' %}
                        Stay indoors and stay safe! A thunderstorm is brewing, so it's a good time to enjoy indoor activities.
                    {% elif places[0].weather.weather[0]['main'] == 'Drizzle' %}
                        Light rain today! A jacket or raincoat might be handy, but it's still great for sightseeing.
                    {% elif places[0].weather.weather[0]['main'] == 'Mist' %}
                        The city is covered in mist! While visibility may be low, the mystic atmosphere adds a sense of adventure.
                    {% elif places[0].weather.weather[0]['main'] == 'Haze' %}
                        The air is hazy today. Take it easy and enjoy the surroundings at a slower pace.
                    {% else %}
                        Whatever the weather, it's a great day to explore and make the most of your trip!
                    {% endif %}
                </p>
                <div class="w-full grid grid-cols-4 gap-4 justify-between mt-5">
                    <div class="flex flex-col items-center max-[450px]:col-span-2">
                        <span class="font-semibold text-base">{{places[0].weather.clouds['all']}}%</span>
                        <img src="{{url_for('static', filename='assets/weather/03.svg')}}" alt="Cloudiness" class="h-7 w-7 sm:w-10 sm:h-10 mt-3">
                        <span class="font-semibold mt-1 text-xs sm:text-sm">Cloudiness</span>
                    </div>
                    <div class="flex flex-col items-center max-[450px]:col-span-2">
                        <span class="font-semibold text-base">{{places[0].weather.wind['speed']}}&nbsp;m/s</span>
                        <img src="{{url_for('static', filename='assets/weather/wind.svg')}}" alt="Wind Speed" class="h-7 w-7 sm:w-10 sm:h-10 mt-3">
                        <span class="font-semibold mt-1 text-xs sm:text-sm">Wind Speed</span>
                    </div>
                    <div class="flex flex-col items-center max-[450px]:col-span-2 max-[450px]:mt-2">
                        <span class="font-semibold text-base">{{places[0].weather.main['pressure']}}&nbsp;hPa</span>
                        <img src="{{url_for('static', filename='assets/weather/pressure.svg')}}" alt="pressure" class="h-7 w-7 sm:w-10 sm:h-10 mt-3">
                        <span class="font-semibold mt-1 text-xs sm:text-sm">Pressure</span>
                    </div>
                    <div class="flex flex-col items-center max-[450px]:col-span-2 max-[450px]:mt-2">
                        <span class="font-semibold text-base">{{places[0].weather.main['humidity']}}&nbsp;%</span>
                        <img src="{{url_for('static', filename='assets/weather/humidity.svg')}}" alt="Humidity" class="h-7 w-7 sm:w-10 sm:h-10 mt-3">
                        <span class="font-semibold mt-1 text-xs sm:text-sm">Humidity</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
     {% if myvisited|length != 0 %}
        <div class="flex items-center mt-5 mb-2 justify-between">
            <h1 class="text-xl text-gray-900">Recently Visited Places</h1>
            <a href="{{url_for('user.visited')}}" class="flex items-center text-base text-indigo-700 border border-indigo-600 hover:border-indigo-800 hover:text-white hover:bg-indigo-800 py-1.5 px-3 gap-2 rounded-md transition-all duration-150 ease-in-out">
                <span class="hidden sm:block">
                    View
                </span>More
                <svg class="w-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
       
            {% for visited in myvisited %}
                {% if loop.index <=3 and visited.visited %}
                    <article class="p-4 bg-white rounded-lg border border-gray-200 shadow-md h-auto">
                        <a href="{{url_for('user.place_info', fsq_id=visited.fsq_id)}}">
                            <div class="flex flex-col h-full">
                                <div>
                                    {% if visited.photos %}
                                        <div class="w-full h-52 overflow-hidden rounded-md">
                                            <img src="{{ visited.photos[0].prefix }}1920x1440{{ visited.photos[0].suffix }}" alt="Photo of {{ visited.name }}" class="w-full h-52 object-cover rounded-md hover:scale-110 ease-in-out duration-300 transition-all">
                                        </div>
                                    {% else %}
                                        <div class="flex items-center justify-center w-full h-52 bg-gray-400 rounded-md ">
                                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                            <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                                        </svg>
                                    </div>
                                    {% endif %}
                                </div>
                                <h2 class="mb-1 text-lg font-bold tracking-tight text-gray-900">{{ visited.name }}</h2>

                                <div class="flex gap-1 justify-between mb-2">
                                    <div class="flex gap-1">
                                        <p class="flex text-xs font-semibold text-white">
                                            <span class="rounded-lg bg-blue-900 px-2 py-1">{{ visited.categories[0].short_name }}</span>
                                        </p>
                                    </div>
                                    <div>
                                        {% if visited.liked %}
                                            <svg class="w-6 h-6 text-red-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                                            </svg>

                                            <span class="sr-only">Icon description</span>
                                        {% else %}
                                            <img src="{{ url_for('static', filename='assets/heart-outline.svg') }}" alt="Unlike" class="w-6 h-6">
                                        {% endif %}
                                    </div>
                                </div>
                        
                                <div class="mt-auto">
                                    <div class="flex items-center space-x-4">
                                        <img class="w-7 h-7 rounded-full" src="{{ url_for('static', filename='assets/location.svg') }}" alt="Location icon" />
                                        <span class="font-medium dark:text-white">
                                            {% if visited.location['locality'] %}
                                                {{ visited.location['locality'] }}
                                            {% elif visited.location['region'] %}
                                                {{ visited.location['region'] }}
                                            {% else %}
                                                NA
                                            {% endif %}
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="flex items-center mt-5 mb-2 justify-between">
        <h1 class="text-xl text-gray-900">Popular Places in <span class="font-bold">{{city|title}}</span></h1>
        <a href="{{url_for('user.popular')}}" class="flex items-center text-base text-indigo-700 border border-indigo-600 hover:border-indigo-800 hover:text-white hover:bg-indigo-800 py-1.5 px-3 gap-2 rounded-md transition-all duration-150 ease-in-out">
            <span class="hidden sm:block">
                View 
            </span>More
            <svg class="w-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg>
        </a>
    </div>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        {% for place in unvisited_places %}
            <article class="p-4 bg-white rounded-lg border border-gray-200 shadow-md h-auto">
                <a href="{{url_for('user.place_info', fsq_id=place.fsq_id)}}">
                    <div class="flex flex-col h-full">
                        <div>
                            {% if place.photos %}
                                <div class="w-full h-52 overflow-hidden rounded-md">
                                    <img src="{{ place.photos[0].prefix }}1920x1440{{ place.photos[0].suffix }}" alt="Photo of {{ place.name }}" class="w-full h-52 object-cover rounded-md hover:scale-110 ease-in-out duration-300 transition-all">
                                </div>
                            {% else %}
                                <div class="flex items-center justify-center w-full h-52 bg-gray-400 rounded-md ">
                                <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                    <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                                </svg>
                            </div>
                            {% endif %}
                        </div>
                        <h2 class="mb-1 text-lg font-bold tracking-tight text-gray-900">{{ place.name }}</h2>

                        <div class="flex gap-1 justify-between mb-2">
                            <div class="flex gap-1">
                                <p class="flex text-xs font-semibold text-white">
                                    <span class="rounded-lg bg-blue-900 px-2 py-1">{{ place.categories[0].short_name }}</span>
                                </p>
                                {% if place.visited == True %}
                                    <p class="flex text-xs font-semibold text-white">
                                        <span class="rounded-lg bg-green-900 px-2 py-1">Visited</span>
                                    </p>
                                {% endif %}
                            </div>
                            <div>
                                {% if place.liked %}
                                    <svg class="w-6 h-6 text-red-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                                    </svg>

                                    <span class="sr-only">Icon description</span>
                                {% else %}
                                    <img src="{{ url_for('static', filename='assets/heart-outline.svg') }}" alt="Unlike" class="w-6 h-6">
                                {% endif %}
                            </div>
                        </div>
                
                        <div class="mt-auto">
                            <div class="flex items-center space-x-4">
                                <img class="w-7 h-7 rounded-full" src="{{ url_for('static', filename='assets/location.svg') }}" alt="Location icon" />
                                <span class="font-medium dark:text-white">
                                    {% if place.location['locality'] %}
                                        {{ place.location['locality'] }}
                                    {% elif place.location['region'] %}
                                        {{ place.location['region'] }}
                                    {% else %}
                                        NA
                                    {% endif %}
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
</div>


{% endblock %}
