<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore cities around the world with City Explorer. Discover places to visit, restaurants, landmarks, and more. Create your personalized travel plans and find popular destinations easily.">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-slate-100 font-display">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto max-w-screen-lg py-1">
            <a href="/" class="flex items-center">
                <img src="{{url_for('static',filename='assets/logo.svg')}}" class="h-6 mr-3 sm:h-9" alt="City Explorer Logo">
                <span class="self-center sm:text-xl text-lg font-semibold whitespace-nowrap dark:text-white">City Explorer</span>
            </a>
            <div class="flex md:order-2">
                {% if g.user %}
                    <a type="button" href="{{ url_for('auth.logout') }}"
                    class="text-white bg-[#1E2A5E] hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 tracking-wide">Logout</a>
                {% else %}
                    <a type="button" href="{{ url_for('auth.login') }}"
                    class="text-white bg-[#1E2A5E] hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 tracking-wide">Login</a>
                {% endif %}
                
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    
    <footer class="bg-blue-900 mt-12">
        <div class="w-full mx-auto max-w-screen-lg p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-200 sm:text-center ">© 2024 <a href="/" class="hover:underline">City Explorer</a>. All Rights Reserved.
        </span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>